<h1>New Message</h1>

<%= form_with(model: [ @message.channel, @message ]) do |form| %>
    <div class="field">
        <%= form.text_field :content %>
        <%= form.submit "Send" %>
    </div>
<% end %>

<%= link_to 'Back', @message.channel %>
